body {
    font-family: Roboto, sans-serif;
    /*background: url("../images/61.2.jpg") no-repeat center;*/
}
p {
    margin: 1px 0 3px 0;
    padding: 0;
}

.transparent {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.7);
}
.transparent .bbb {
    width:100%;
    height: 70px;
}
.transparent .title {
    text-align: center;
    font-size: 52px;
    color: white;
    font-weight:bold;
}
.transparent .simple-desc {
    margin-top: 30px;
    text-align: center;
    font-size: 22px;
    color: white;
}

.middle {
    background: white;
    width: 100%;
    float: left;
}
.middle .level1 {
    margin-top: 50px;
    height: 150px;
}
.middle .pic {
    text-align: center;
}
.middle .level1 .left {
    float: left;
    width: 70%;
    margin-left: 15%;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.middle .level1 .left .btn {
    width: 60%;
    margin-top: 50px;
    margin-left: 20%;
    line-height: 45px;
    text-align: center;
    height: 45px;
    background: #4a68ad;
}
.middle .level1 .left .btn a {
    text-decoration: none;
    color: white;
    font-size: 40px;
}
/*.middle .level1 .right {*/
    /*float: left;*/
    /*margin-left: 50px;*/
/*}*/

.middle .level2 {
    margin: 50px auto 0 15%;
    float: left;
    width: 70%;
}
.middle .level3 div {
    width: 30%;
    float: left;
    margin-right: 3%;
}
.middle .level3,
.middle .level4,
.middle .level5 {
    margin: 10px auto 0 15%;
    float: left;
    width: 70%;
}

.multi-pic {
    background: #f8f8f8;
    width: 100%;
    float: left;
}
.multi-pic .inner {
    margin: 50px auto 0 15%;
    float: left;
    width: 80%;
}
.multi-pic .inner .simple-desc {
    text-align: center;
    font-size: 50px;
    margin: 0 -10px 40px -60px;
}
.multi-pic .inner img{
    margin: 10px 30px 10px 10px;
    width: 180px;
    height: 180px;
}

.contact-us {
    width: 100%;
    height: 405px;
    background: #5f5d60;
    float: left;
}
.contact-us .inner {
    margin: 30px auto 0 15%;
    float: left;
    width: 80%;
}
.contact-us .inner .big {
    font-size: 26px;
    color: white;
    font-weight: bold;
}
.contact-us .inner .small {
    margin-top: 10px;
    font-size: 16px;
    color: white;
}
.contact-us .inner .btn {
    width: 30%;
    margin-left: 10%;
    line-height: 45px;
    text-align: center;
    height: 45px;
    background: #4a68ad;
    margin-top: 15px;
}
.contact-us .inner .btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}