<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/swiper-4.2.6.min.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/swiper-4.2.6.min.js' %}"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
</head>
<body>
<div class="top-black">
    <div class="inner-left">
        <ul class="national-flag">
            <li><a href="#"><img src="{% static 'img/goods/flag1.gif' %}"></a></li>
            <li><a href="#"><img src="{% static 'img/goods/flag2.gif' %}"></a></li>
        </ul>
    </div>
    <div class="inner-right">
        <ul>
            <li><a>+39 339 7728442</a></li>
            <li><a>info@vineblossom.it</a></li>
        </ul>
    </div>
</div>

<div class="category">
    <div class="web-icon">
        <img src="{% static 'img/goods/web_logo.jpg' %}">
    </div>
    <div class="types">
        <select class="type-select">
            <option selected="selected" value="1">about us</option>
            <option value="2">glassware</option>
            <option value="3">prettech tanks</option>
            <option value="4">green energy</option>
            <option value="5">contact us</option>
        </select>
    </div>
</div>

<div class="swiper-container"> <!--//固定写法 表示一个容器-->
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="{% static 'img/goods/1.jpg' %}"></div> <!--几个页面写几个div-->
        <div class="swiper-slide"><img src="{% static 'img/goods/14.3.jpg' %}"></div>
        <div class="swiper-slide"><img src="{% static 'img/goods/119.jpg' %}"></div>
    </div> <!--//主体内容--> <!-- 小点-->
    <div class="swiper-pagination"></div> <!-- 左右按钮-->
    <div class="swiper-button-prev"></div> <!--//上一页-->
    <div class="swiper-button-next"></div> <!--//下一页-->
</div>

<div class="description">
    <div class="p1">VINE BLOSSOM</div>
    <div class="p2">With its structure Vine Blossom can provide a wide range of customized solutions: glass bottles and
        jars, on-demand labeling, boxes, tanks for brewery and cellars, wholesale material for renewable energy plants.
    </div>
    <div class="p3">We are constantly attentive to innovation to keep up with the times and the demands of the global
        market.
    </div>
</div>

<div class="sample-show">
    {% for item in products %}
        <div class="show1">
            <div class="showimg">
                <img src="{% static item.imgurl %}">
                {#                <span>Glassware</span>#}
            </div>
            <div class="sample-desc">
                <div class="title">{{ item.category }}</div>
                <div>{{ item.subhead }}</div>
            </div>
            <button class="read-more" data-type="{{ item.category }}">read more</button>
        </div>
    {% endfor %}


    <div class="contact-us">
        <img src="{% static 'img/goods/contact_us.jpg' %}">
    </div>
    <div class="form-sub">
        <form>
            <div>
                <label>name:</label>
                <input placeholder="name">
            </div>
            <div>
                <label>email:</label>
                <input placeholder="email">
            </div>
            <div>
                <label>phone:</label>
                <input placeholder="phone">
            </div>
            <div>
                <label>message:</label>
                <input placeholder="message">
            </div>
            <button class="send">send</button>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" src="{% static 'js/home.js' %}">
</script>
<script>
    var selectOption = Array.from($('.read-more'))
    selectOption.forEach(function (v, k) {
        v.onclick = function () {
            var category = $(this).attr("data-type")
            window.location.href = "/goods/type/" + category
        }
    })
</script>
</html>